<!--style="margin-left:200px"-->
<!--<div class="w3-teal">-->
    <!--&lt;!&ndash;style="margin-left: 15px;">&ndash;&gt;-->

    <!--<h1 class="w3-text-center" style="display: inline;">Auctions</h1>-->
<!--</div>-->

<div class="w3-container">
    <div class="row equal">

        <div class="col-md-6 mb-4" *ngFor="let auction of auctions"
             style="padding: 15px; background-color: transparent">
            <div class="w3-card-4 w3-hover-shadow" id="auction_{{auction.id}}" style="padding: 15px;">
                <div class="w3-container" style="padding: 5px;">
                    <a [routerLink]="['details', auction.id]">
                        <img class="img-responsive" src="{{auction.imagePath}}" alt=""></a>
                    <div class="w3-container">
                        <h4 class="card-title">
                            <a [routerLink]="['details', auction.id]" href="#">{{auction.title}}</a>
                        </h4>
                    </div>
                </div>

                <div class="w3-container" style="padding: 0;margin-bottom: 15px;">

                    <table class="table-responsive" style="width: 100%">
                        <tr style="font-size: small">
                            <td class="w3-center w3-border-bottom">
                                Buy it now
                            </td>
                            <td class="w3-center w3-border-bottom">
                                Highest bid
                            </td>
                            <td class="w3-center w3-border-bottom">
                                Bids
                            </td>
                        </tr>
                        <tr style="font-size: small">
                            <td class="w3-border-right" style="width: 33%">

                                <div class="w3-center">
                                    {{auction.buyItNowPrice}}:-
                                </div>
                            </td>
                            <td class="w3-border-right" style="width: 33%">
                                <div class="w3-center">
                                    {{auction.currentBidPrice}}:-
                                </div>
                            </td>
                            <td class="" style="width: 33%">
                                <div class="w3-center">
                                    {{auction.bids}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="w3-container" style="padding: 0;">
                    <a class="w3-btn w3-blue w3-hover-shadow w3-show-block w3-btn-block"
                       [routerLink]="['details', auction.id]">
                        Details
                    </a>
                </div>
                <div class="clear w3-clear"></div>
            </div>
        </div>
    </div>
</div>
