<div id="detailsContainer">

    <div class="w3-bar w3-blue">
        <a class="w3-btn w3-bar-item w3-red w3-right" (click)="closeThis()">Close</a>
    </div>


    <div class="row">

        <div class="col-sm-6">
            <div id="myCarousel" class="carousel slide w3-card-4" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div *ngFor="let image of _images" class="item {{image._active}}">
                        <img src="{{image.url}}" alt="">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="w3-bar-block w3-gray">
                <div class="w3-bar-item">
                    <h3>
                        {{auction.title}}
                    </h3>
                </div>
            </div>
            <div class="w3-bar-block">
                <div class="w3-bar-item">
                    <h4>Current bid price: <b>{{auction.currentBidPrice}}</b></h4>
                </div>
            </div>

            <div class="w3-row-padding w3-gray" style="padding:5px;">
                <div class="w3-half">
                    <input class="w3-input w3-border" value="{{auction.buyItNowPrice + 50}}" type="text"
                           placeholder="{{auction.buyItNowPrice + 50}}">
                </div>
                <div class="w3-half">
                    <div class="w3-btn w3-btn-bar w3-green" style="width: 100%;">Place bid</div>
                </div>
            </div>

        </div>

        <div class="col-sm-12">
            <h4>
                {{auction.description}}
            </h4>
        </div>
    </div>
    <!--<div class="form-container">-->
    <!--</div>-->
</div>
