<div class="w3-bar w3-border w3-light-grey w3-row">
    <div class="w3-third text-center"><h2 style="margin:0; padding: 5px;">Auctions</h2>
    </div>

    <div class="w3-third">
        <select class="w3-select w3-border" name="option" style="float: right;">
            <option>Price descending</option>
            <option>Price ascending</option>
            <option>Publish date</option>
            <option>End date</option>
        </select>
    </div>
    <div class="w3-third">
        <input class="w3-input w3-border w3-right" type="text" placeholder="Search...">
    </div>
</div>
